:root {
    --main-color: lightskyblue;;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --space-top: 30px;
}

/*Star CSS*/

.fa .fa-star{
    font-size: 2rem;
}

.checked {
    color: var(--main-color);
}

/*End star CSS*/


/*Slide CSS*/

.carousel{
    margin-left: 5%;
    max-width: 90%;
    max-height: 130%;
}

.carousel-item{
    background-position-y: 30%;
    background-position-x: 0;
    background-size: 120%;
    min-height: 600px;
}

.hero-slide-item-content {
    position: absolute;
    width: 120%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.hero-slide-item-content img{
}

.item-content-wrapper {
    padding-left: 2%;
    background-color: rgba(0, 0.2, 0.4, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) );
}

.item-content-title {
    font-size: 5rem;
    line-height: 4rem;
    font-weight: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40%;
    width: 80%;
    scrollbar-width: none;
    text-align: left;
}

/*movie info*/

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

/*end movie info*/

.item-content-description {
    font-size: 1rem;
    margin-top: 2.5%;
    line-height: 1.5rem;
    width: 70%;
    height: 20%;
    overflow: scroll;
    scrollbar-width: none;
}

.item-action{
    color: #ffffff;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 1000;
}

/*.fake-text{
    opacity: 0;
}*/

/*.btn i {
    margin-right: 1rem;
}*/

/*End slide CSS*/


/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wrapper {
        width: 50%;
    }
}