/*Navbar CSS*/
:root{
    --nav-height: 60px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav-wrapper span, .btn-hover span{
    white-space: nowrap;
    color: #ffffff;
    z-index: 10;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 1000;
}

.nav-wrapper span{
    display: inline;
    font-weight: 700;
}

.navbar-nav > .nav-item{
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link:hover{
    background-color: var(--main-color);
    color: var(--text-color);
}

/*End navbar CSS*/